body {
    background-color: black;
    color: #ffffff;
}
.profile-image{
    margin-left: 30%;
    height: 400px;
    width: 400px;
    border-radius: 50%;
}
.main-content{
    margin-left: 15%;
    display: flex;
    justify-content: center;
    width: 70%;
    align-items: center;
}
.sub-main-content menu{
    display: flex;
    justify-content: center;
}
.social-icons{
    display: flex;
    justify-content: center;
    margin: 15px 20px;
}
.social-icons img{
    height: 30px;
    width: 50px;
}
.social-icons .twitter {
    padding: 0 30px;
}
.sub-main-content h1 {
    display: flex;
    justify-content: center;
    margin-right: 0px;
    font-size: 60px;
}
.sub-main-content p {
    display: block;
    justify-content: center;
    text-align: center;
    width: 80%;
    margin-left: 60px;
    font-size: 20px;
}
.mypart {
    display: flex;
    justify-content: center;
    margin-left:0.1%;
    margin-right:0.1%;
}
.myparta {
    width: 30%;   
    margin: 30px;
}
.mypartb {
    width: 30%;
    margin: 30px;
}
.myparta h3 {
    color: #f0c7bc;
    font-size: 40px;
}
.myparta h3 p{
    font-size: 20px;
    width: 30%;
    color: white;
}
.mypartb h3 {
    color: #f0c7bc;
    font-size: 25px;
}
.mypartb h5{
    font-size: 19px;
}
#chat {
    display: flex;
    justify-content: left;
}
.arrow .hone {
    font-size: 80px;
    display: flex;
    justify-content: center;
    color: #f0c7bc;
}
.arrow hr {
    width: 50%;
}
.arrow .design {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 50px;
    color: #f0c7bc;
}
.arrow p{
    text-align: center;
    font-size: 100px;
    margin: 0px;
    color: #f0c7bc;
}
.arrow h5{
    text-align: center;
    font-size: 20px;
    margin-top: 30px;
    color: #f0c7bc;
}
.images img{
    text-align: center;
    height: 400px;
    width: 400px;
    margin: 20px;
    border-radius: 20%;
}
.images img:hover{
    text-align: center;
    margin: 20px;
    border-radius: 20%;
    transition: transform 5s ease-in;
}
.john {
    text-align: center;
}
.button {
    border-radius: 4px;
    background-color: black;
    border: 2px #f0c7bc;
    border-style: solid;
    color: #f0c7bc;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    margin: 5px;
}
.button:hover {
      background-color: #f0c7bc;
      border: 2px black;
      border-style: solid;
      color: black;   
  }
  .ending{
      display: flex;
      justify-content: center;
      margin: 100px;
  }
  .endinga {
      margin: 0px 40px;
  }
  .endinga .ea{
      font-size: 21px;
      color: #f0c7bc;
  }
  .endingb {
      margin: 0px 30px;
      font-size: 17px;
  }
